<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DeptMapper">

    <insert id="addDept" keyProperty="id" useGeneratedKeys="true" parameterType="com.example.demo.entity.Dept">
    insert into dept(dname,loc)values (#{dname},#{loc})
</insert>

    <delete id="deleteById">
    delete from dept where id=#{id}
</delete>

    <update id="updateDeptById" parameterType="com.example.demo.entity.Dept">
    update dept set dname=#{dname},loc=#{loc} where id=#{id}
</update>

    <select id="findAllDept" resultType="com.example.demo.entity.Dept">
    select*from dept where id=#{id}
</select>
</mapper>